html {
  margin: 0;
  height: 100%;
}

body {
  padding-top: 60px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
  background: #F5F7FA;
}

.hero-space {
  height: 15vh;
  width: 100%;
}

a:focus,
.btn:focus,
.btn.focus {
  outline: none !important;
  box-shadow: none;
}

:root {
  --color-fondo: #F5F2E7;
  --color-dorado-oscuro: #AB700B;
  --color-dorado-claro: #BBA258;
  --color-dorado-medio: #CEC26F;
  --color-marron: #67541B;
}

/* Clases de colores */
.color-dorado {
  color: var(--color-dorado-oscuro)
}

.navbar-light .navbar-brand.color-dorado {
  color: #BA8E14;
  /* Golden color */
  text-decoration: none;
  transition: color 0.3s ease;
  /* Optional smooth transition */
}

/* Center the SVG both vertically and horizontally */
#svgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.rotating {
  animation: rotation 20s infinite linear;
  transform-origin: center;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navbar-light .nav-link.color-dorado {
  color: var(--color-marron);
  /* Normal color */
  transition: color 0.3s ease;
  /* Smooth transition */
}

/* Hover effect for nav links */
.navbar-light .nav-link.color-dorado:hover {
  color: var(--color-dorado-oscuro);
  /* Change to var(--color-marron) on hover */
}

.hero-background {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(77, 61, 48, 1)),
    url('../images/bird-view-big.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Parallax effect */
  position: relative;
  color: var(--color-fondo);
  overflow: hidden;
}

.iq-background {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(77, 61, 48, 1)),
    url('../images/ind.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Parallax effect */
  position: relative;
  color: var(--color-fondo);
  overflow: hidden;
}

.edu-background {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(77, 61, 48, 1)),
    url('../images/edu.png');
  background-size: cover;
  background-position: center;

  position: relative;
  color: var(--color-fondo);
  overflow: hidden;
}


.divider {
  color: var(--color-fondo);
  width: 100%;
  height: 33vh;
  background:
    linear-gradient(to bottom, rgb(50, 34, 21), white);
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
}

button:active {
  outline: none;
}

.back-images::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Dark overlay for readability */
  z-index: 1;
}


.hero-background .container {
  position: relative;
  z-index: 2;
}

.iq-background .container,
.edu-background .container,
.fintech-background .container {
  position: relative;
  z-index: 2;
}

/* Adjust the text styles */
.white-text {
  color: #ffffff;
  /* Pure white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  /* Subtle shadow for contrast */
  z-index: 2;
  position: relative;
}

/* Service section specific styles */
.services-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services-section .card {
  background: transparent;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services-section .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--color-fondo) !important;
}

.btn-custom {
  background-color: var(--color-dorado-oscuro);
  color: var(--color-fondo);
  border: 2px solid var(--color-fondo);
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-custom:hover {
  background-color: var(--color-fondo);
  color: var(--color-dorado-oscuro);
  text-decoration: none;
}

#social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #F5F2E7;
  font-size: 24px;
  border-radius: 50%;
  /* Makes the link circular */
  transition: color 0.3s, background-color 0.3s;
  overflow: hidden;
}

#social-media a:hover {
  background-color: #AB700B;
  /* Hover color */
}

.social-icon {
  width: 30px;
  /* Icon size */
  height: 30px;
  border-radius: 50%;
  /* Makes the image circular */
  transition: opacity 0.3s, transform 0.3s;
}

.social-icon:hover {
  opacity: 0.7;
  /* Optional hover effect */
  transform: scale(1.1);
  /* Slightly enlarges the icon on hover */
}

footer {
  background-color: black;
}

.small-text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.waves {
  position: relative;
  height: 100px;
  background-color: white;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100px;
  background: url('../images/wave.png');
  background-size: 1000px 100px;
}

#wave1 {
  z-index: 1000;
  opacity: 0.95;
  bottom: 0;
  animation: animateWave 6s linear infinite;
}

#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

#wave3 {
  z-index: 1000;
  opacity: 0.3;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 2.5s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

.svg-image {
  width: 50px;
  height: auto;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  /* Glow effect for visibility on dark */
  animation: rotate 10s linear infinite;
  /* Adjust time as needed for speed */
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

form .form-control,
select {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-marron);
  border: 1px solid var(--color-dorado-medio);
  padding: 8px;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.small-field {
  width: 33%;
  margin: 0 auto;
}

.col-md-9,
.col-form-label {
  display: flex;
  align-items: center;
}

/* Change the border color on focus */
form .form-control:focus {
  border-color: var(--color-dorado-oscuro);
  box-shadow: 0 0 5px rgba(171, 112, 11, 0.5);
  outline: none;
}

label {
  font-family: 'Roboto', sans-serif;
  /* Use the Roboto font */
  font-size: 16px;
  /* Base font size for labels */
  font-weight: 500;
  /* Medium weight for readability */
  color: var(--color-marron);
  /* Dark brown for a professional look */
  margin-bottom: 5px;
  /* Space between label and input */
  display: block;
  /* Ensures labels appear above inputs */
}

.contact-link {
  text-decoration: none;
  /* Removes underline */
  pointer-events: auto;
  /* Ensures links are clickable */
  transition: none;
  /* Disables any transitions */
}

/* Disable hover, focus, and active states */
.contact-link:hover,
.contact-link:active {
  color: var(--color-marron);
  text-decoration: none;
  /* No underline */
  transition: none;
  /* No transition effects */
}

#focus-message {
  visibility: hidden;
  color: black;
  font-size: 1rem;
}

form .form-group {
  margin: 0 auto;
  margin-bottom: 1.5rem;
}


.section-container {
  background-color: var(--color-fondo);
  /* Light background */
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  border: 1px solid var(--color-dorado-medio);
  /* Highlighted border */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header {
  background: linear-gradient(90deg, var(--color-dorado-oscuro), var(--color-dorado-medio));
  color: white;
  padding: 10px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid var(--color-dorado-claro);
  /* Distinct separation */
}

.section-header h3 {
  margin: 0;
}

.section-info {
  font-size: 14px;
  /* Slightly smaller than normal body text for subtlety */
  font-weight: 500;
  /* Medium weight for readability */
  color: black;
  /* Dark brown text for contrast */
  text-align: center;
  /* Centered to complement the section title */
  margin-top: 2.5px;
  /* Adds spacing between the header and the text */
  margin-bottom: 2.5px;
  /* Creates separation from the section content */
  padding: 2.5px;
  /* Adds padding for a clean appearance */
}

/* Group shared styles for add buttons */
#add-classification,
#add-hazard,
#add-general-statement,
#add-prevention-statement,
#add-response-statement,
#add-storage-statement,
#add-disposal-statement,
.btn-danger {
  width: 30px;
  height: 30px;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
}

/* Margin for spacing between fields and buttons */
#classification-fields {
  margin-bottom: 10px;
  margin-right: 10px;
}

.classification-field {
  width: 50%;
  margin: 0 auto;
}

/* Hover effect */
.btn-icon:hover {
  background-color: var(--color-dorado-claro);
  /* Use your golden palette */
  transform: scale(1.1);
  /* Slightly enlarge on hover */
}

/* Customize the danger button */
.btn-danger.btn-icon:hover {
  background-color: #c0392b;
  /* Darker red on hover */
}

.form-input-field {
  margin-right: 10px;
}

.btn-icon {
  display: flex;
  /* Enable flexbox for centering */
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
}

.mt-2 {
  display: flex;
  /* Enable flexbox for centering */
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
}

/* Container for the pictograms */
#label-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Centers content horizontally */
  gap: 15px;
  /* Space between pictograms */
  padding: 10px;
}

.label-element {
  display: flex;
  /* Enable Flexbox for this container */
  flex-direction: column;
  /* Stack items vertically */
  align-items: center;
  /* Center items horizontally */
  justify-content: center;
  /* Center all items vertically */
  text-align: center;
  /* Center text content */
  width: 180px;
  /* Increase width for larger pictograms */
  min-height: 180px;
  /* Ensure enough height for larger images */
  padding: 15px;
  /* Increase padding for spacing inside the container */
  background-color: white;
  /* White background for contrast */
  border: 1px solid var(--color-dorado-claro);
  /* Slight border for definition */
  border-radius: 12px;
  /* Slightly more rounded edges */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Slightly stronger shadow for depth */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* Smooth hover effects */
}

.ghs-pictogram {
  width: 100px;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
  height: 100px;
}

/* Description */
.pictogram-description {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-marron);
}

/* Hover effect for pictograms */
.label-element:hover {
  transform: translateY(-5px);
  /* Slight lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Enhanced shadow */
}

/* No label elements message */
.no-label-elements {
  font-style: italic;
  color: gray;
  text-align: center;
  padding: 10px;
}

.pictogram-checkbox-container {
  display: flex;
  flex-wrap: wrap;
  /* Allow pictograms to wrap on smaller screens */
  gap: 20px;
  /* Space between checkboxes */
  justify-content: center;
  /* Center the content */
  padding: 10px;
  margin-top: 10px;
}

.checkbox.label-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Center content vertically */
  text-align: center;
  width: 150px;
  /* Increased width to better fit larger images */
  min-height: 150px;
  /* Ensure height matches image size */
  padding: 10px;
  background-color: white;
  border: 1px solid var(--color-dorado-claro);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Hover effect for checkbox elements */
.checkbox.label-element:hover {
  transform: translateY(-5px);
  /* Slight lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Enhanced shadow */
}

#synonyms-dropdown {
  padding: 8px;
  line-height: 1.5;
  font-size: 16px;
  height: auto;
  border-radius: 5px;
  border: 1px solid var(--color-dorado-medio);
  width: 33%;
  margin: 0 auto;
}


.un-pictogram-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 15px;
}


.un-pictogram-card {
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  width: 130px;
  padding-top: 15px;
  min-height: 150px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* Rounded edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  /* Smooth hover effects */
}


.un-pictogram-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Enhanced shadow on hover */
}

/* Rotated and styled images */
.UN-picto {
  transform: rotate(-45deg);
  /* Rotate the image */
  width: 80px;
  height: auto;
  /* Maintain aspect ratio */
  transition: none;
  /* Disable hover effects for rotation */
}

/* Styling for the checkbox */
.un-pictogram-card input[type="checkbox"] {
  margin-top: 10px;
  /* Space between the image and the checkbox */
}

.pagination-container {
  display: flex;
  /* Flexbox for horizontal layout */
  justify-content: center;
  /* Center pagination buttons */
  margin-bottom: 20px;
  /* Add space below the pagination */
  gap: 10px;
  /* Space between buttons */
}

.pagination-btn {
  background-color: #B08904;
  ;
  /* Use your color palette */
  color: white;
  border: none;
  border-radius: 50%;
  /* Circular buttons */
  width: 40px;
  /* Button size */
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination-btn:hover {
  background-color: var(--color-dorado-oscuro);
  /* Darker hover color */
  transform: scale(1.1);
  /* Slight enlargement on hover */
}

.pagination-btn.active {
  background-color: var(--color-dorado-claro);
  /* Highlight active step */
  color: black;
  font-weight: bold;
}

.section-header-about {
  background: linear-gradient(90deg, var(--color-dorado-oscuro), var(--color-dorado-medio));
  color: whitesmoke;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.profile-picture {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  /* Optional: Makes the image circular */
  border: 5px solid var(--color-dorado-oscuro);
  /* Optional: Add a border matching the theme */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Adds a shadow for a modern look */
  margin-bottom: 20px;
  /* Adds space below the image on smaller screens */
}

#id_section2-other_hazards,
#id_section3-other_unique_identifiers {
  width: 75%;
  /* Full width of the parent container */
  padding: 10px;
  /* Inner spacing for better readability */
  font-family: 'Roboto', sans-serif;
  /* Matches your text style */
  font-size: 14px;
  /* Readable font size */
  color: #333333;
  /* Dark gray text for readability */
  background-color: #F9F6F1;
  /* Light gold/cream background */
  border: 2px solid #C5A880;
  /* Gold border */
  border-radius: 5px;
  /* Slightly rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  transition: border-color 0.3s, box-shadow 0.3s;
  /* Smooth transition for hover/focus */
}

#id_section2-other_hazards:focus,
#id_section3-other_unique_identifiers:focus {
  border-color: #A67C52;
  /* Darker gold on focus */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Slightly more pronounced shadow */
  outline: none;
  /* Remove default outline */
}

.chemtable-form {
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px 20px 20px 20px;
}

/* Responsive Adjustments */

/* For tablets and small desktops */
@media (max-width: 992px) {
  .display-4 {
    font-size: 2.5rem;
  }

  .divider {
    height: 10vh;
  }

  .lead {
    font-size: 1.1rem;
  }

  .btn-custom {
    padding: 10px 20px;
    font-size: 16px;
  }

  .services-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  body {
    padding-top: 60px;
  }

  .profile-picture {
    margin-bottom: 20px;
    /* Space below image for mobile devices */
  }

  .divider {
    height: 10vh;
  }

  .display-4 {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .btn-custom {
    padding: 8px 16px;
    font-size: 14px;
  }

  .services-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #social-media a {
    width: 35px;
    height: 35px;
  }

  .social-icon {
    width: 25px;
    height: 25px;
  }

  .hero-background {
    background-attachment: scroll;
  }

  .hero-section {
    padding: 80px 0;
  }
}

/* For extra small devices */
@media (max-width: 576px) {
  .display-4 {
    font-size: 1.75rem;
  }

  .divider {
    height: 10vh;
  }

  .lead {
    font-size: 0.9rem;
  }

  .btn-custom {
    padding: 6px 12px;
    font-size: 12px;
  }

  .services-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #social-media a {
    width: 30px;
    height: 30px;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  }

  .hero-section {
    padding: 60px 0;
  }
}

html,
body {
  overflow-x: auto !important;
}