{% extends "layout.html" %}
{% load static i18n %}

{% block title %}
{% trans "Acerca de" %} | ExtracSol
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="section-header-about">
        <h5>{% trans "Acerca de ExtracSol" %}</h5>
    </div>
    <div class="row align-items-center section-container">
        <!-- Image Section -->
        <div class="col-md-4 text-center">
            <img src="{% static 'images/ljm.jpg' %}" alt="{% trans 'Ing. Leonardo Jiménez' %}" class="profile-picture">
        </div>
        <!-- Text Section -->
        <div class="col-md-8">
            <div class="section-info">
                <p>
                    {% blocktrans %}En ExtracSol, nos dedicamos a ofrecer soluciones innovadoras y efectivas en ingeniería química, sistemas de GLP, tratamiento de agua potable y residual, y optimización de procesos químicos. Fundada en 2024 por el Ing. Leonardo Jiménez, nuestra empresa combina experiencia técnica con un enfoque personalizado para satisfacer las necesidades únicas de cada cliente.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}El Ing. Leonardo Jiménez ha trabajado como consultor y profesional independiente desde 2021. Además, desde 2023 ha impartido clases en universidades privadas, compartiendo su conocimiento y pasión por la ingeniería química con las futuras generaciones.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}En ExtracSol, también entendemos la importancia de la diversificación y la innovación financiera. Por ello, contamos con personal con experiencia en inversión en criptoactivos y acciones estadounidenses desde 2017, lo que nos permite ofrecer servicios adicionales en el ámbito de la fintech.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}Nuestro compromiso es proporcionar soluciones integrales que no solo cumplan con los estándares de calidad, sino que también superen las expectativas de nuestros clientes. Ya sea en el diseño y la certificación de instalaciones, el tratamiento de aguas, o la capacitación profesional, en ExtracSol trabajamos para marcar la diferencia.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}