{% extends 'layout.html' %}
{% load i18n %}

{% block body %}
  <div class="container">
    <h1>{% trans "Cuadro de Constantes creado exitosamente" %}</h1>

    <p>
      {% trans "Si la descarga no empieza, " %} 
      <a id="downloadLink" href="{% url 'generate_chemtable_pdf' chemtable_id %}">{% trans "Presiona aquí" %}</a>.
    </p>
    <!-- Optionally display some details or a summary -->
    <a href="{% url 'home' %}" class="btn btn-primary">{% trans "Regresar a Inicio" %}</a>
  </div>
  <script>
    window.onload = function() {
        var chemtableId = "{{ chemtable_id }}";
        window.location.href = "/chemtable/" + chemtableId + "/pdf/";
    };
  </script>
{% endblock %}