{% extends "layout.html" %}
{% load i18n %}

{% block body %}

<section class="fintech-background back-images">
    <section class="services-section py-5">
        <div class="container">
            <h2 class="text-center mb-5 white-text">{% trans "Servicios de FinTech" %}</h2>
            <div class="row">
                <!-- Certificaciones de Gas LP -->
                <div class="col-md-4">
                    <div class="card bg-transparent border-0 text-center">
                        <div class="card-body">
                            <i class="fas fa-robot fa-3x mb-3 white-text"></i>
                            <h5 class="card-title white-text">{% trans "Bots Avanzados de Trading" %}</h5>
                            <p class="card-text white-text">
                                {% trans "Bots que analizan mercados y ejecutan estrategias avanzadas, incluyendo comparación de retornos con Bitcoin y diversificación de portafolios." %}
                            </p>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="card bg-transparent border-0 text-center">
                        <div class="card-body">
                            <i class="fas fa-chart-line fa-3x mb-3 white-text"></i>
                            <h5 class="card-title white-text">{% trans "Garantía de Retorno Anual" %}</h5>
                            <p class="card-text white-text">
                                {% trans "Invierte con la promesa de obtener un retorno superior al S&P500 al finalizar el año. Seguridad y confianza en tus inversiones." %}
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card bg-transparent border-0 text-center">
                        <div class="card-body">
                            <i class="fas fa-graduation-cap fa-3x mb-3 white-text"></i>
                            <h5 class="card-title white-text">{% trans "Asesoría en Finanzas" %}</h5>
                            <p class="card-text white-text">
                                {% trans "Aprende a manejar tus finanzas personales con cursos prácticos sobre presupuesto, ahorro e inversión y tecnologías actuales." %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                
                <div class="col-md-4">
                    <div class="card bg-transparent border-0 text-center">
                        <div class="card-body">
                            <i class="fas fa-coins fa-3x mb-3 white-text"></i>
                            <h5 class="card-title white-text">{% trans "Staking de Criptomonedas" %}</h5>
                            <p class="card-text white-text">
                                {% trans "Participa en pools de staking para generar ingresos pasivos con criptomonedas de alto rendimiento." %}
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</section>

{% endblock body %}