<!-- This is my msds_section11.html-->

{% extends "msds_base_form.html" %}
{% load static i18n %}

{% block body %}
<div class="section-header">
    <h3>{% trans "Sección 11: Información Toxicológica" %}</h3>
    <p class="section-info">{% trans "Por favor, proporcione la información toxicológica a continuación." %}</p>

    {{ block.super }}

    <p id="focus-message">{% trans "Para el campo de Estimaciones de Toxicidad Aguda, por favor, separe los diferentes valores con un ';'" %}</p>

    <script src="{% static 'app1/focus_message.js' %}"></script>
</div>
{% endblock %}